<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Dogout_Reporting_Application.Properties.Settings.CuboBusinessIntelligenceConnectionString"
      connectionString="Data Source=nmg8s70qml.database.windows.net,1433;Initial Catalog=DogoutDB;Persist Security Info=True;User ID=vadsadmin"
      providerName="System.Data.SqlClient" />
  
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>